.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
  background-image: url(https://media.istockphoto.com/photos/happy-volunteer-looking-at-donation-box-picture-id813460430?k=6&m=813460430&s=612x612&w=0&h=853Vmzppj8JGUWWXadTacU3Xi_6pVAPcjD6wevo-NoA=);
  background-size: cover;
  background-position: 50% 25%
}

.App-title {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
